
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove default Vite styling to allow our custom styles to work better */
#root {
  width: 100%;
}

/* Custom styles for our app can be added here */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Custom animation for moving horizontally (right to left!) */
@keyframes move-horizontal {
  0% {
    transform: translateX(24px);
  }
  100% {
    transform: translateX(-24px);
  }
}
.animate-move-horizontal {
  animation: move-horizontal 1.2s linear infinite alternate;
}
